.navbar-default .navbar-nav > li.dropdown:hover > a, 
.navbar-default .navbar-nav > li.dropdown:hover > a:hover,
.navbar-default .navbar-nav > li.dropdown:hover > a:focus {
    background-color: rgb(231, 231, 231);
    color: rgb(85, 85, 85);
}
li.dropdown:hover > .dropdown-menu {
    display: block;
}
*{
	padding:0;
	margin:0;
    -webkit-transition: 1s;
    transition: 1s;
}
.colored-font{
	background: black;
	background: -webkit-linear-gradient(to right, rgb(220, 220, 235), white);
	background: linear-gradient(to right,white, white);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	color:bisque;

}
.lite{
	color: #fff;

}

.btn-primary {
	background-color:transparent;
	color: #fff;
	border: 2px solid #fff;
	font-size:13px;
	border-radius: 0px;	
	margin: 3px;

}
.btn-primary:hover {
	background-color:transparent;
	border-color:white;
	color: white;
	border-radius: 20px;
}

.single_portfolio_text{
	display:inline-block;
	padding:0;
	position:relative;
	overflow:hidden;

}

.single_portfolio_text img{
	width:100%;
}

.single_portfolio_text:hover .portfolio_images_overlay{
	top:5%;
	left: 5%;
}

.portfolio_images_overlay{
	width: 80%;
	height: 80%;
	background: rgba(0, 0, 0, 0.8);
	padding: 10px;
	margin: 0 auto;
	top: -100%;
	left: 5%;
	position: absolute;
	transition:.6s;
	
}
.portfolio_images_overlay h6{
	color: #fff;
	font-size: 15px;
	font-weight: 400;
	border: 1px solid #fff;
	padding-top: 2px;
	padding-bottom: 5px;
}

.portfolio_images_overlay .product_price{
	font-size: 20px;
	color: #fff;
	font-weight:800;
	line-height:30px;
}
.portfolio_images_overlay .product_price i{
    margin-right: -10px;
}
.zoom{
	width: 200px;
    height: 200px;
    position: absolute;
    bottom: -100px;
    right: -100px;
    border-radius: 50%;

	background: #FF512F;
	background: -webkit-linear-gradient(to right, #F09819, #FF512F);
	background: linear-gradient(to right, #F09819, #FF512F);
    box-shadow:0px 0px 0px 10px rgba(0,0,0,0.5);
	opacity:0.9;
}
.zoom:before {
	content: "\f00e";
    font-family: FontAwesome;
    color: rgba(255, 255, 255, 0.5);
    font-size: 70px;
    padding-right: 20px;
    position: absolute;
    top: 10px;
    left: 30px;
}
.fancybox-title {
    padding: 0 0 10px 0;
}
.input-xs {
	height: 22px!important;
	padding: 2px 5px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
  }
@media (min-width:769px) and (max-width:991px) {
	.portfolio_images_overlay {
		padding: 0px;
	}
}
@media (max-width:768px) {
	.portfolio_images_overlay{
		padding: 170px 20px;
	}
}
@media (max-width:580px) {
	.portfolio_images_overlay{
		padding: 100px 20px;
	}
}
@media (max-width:480px) {
	.portfolio_images_overlay{
		padding: 40px 20px;
	}
}
@media (max-width:320px) {
	.portfolio_images_overlay{
		padding: 20px;
	}
}
.owl-carousel {
	padding: 60px;
  }

  img {
	  padding: 20px;
  }
  